{% extends "base.html" %}

{% block extrahead %}
{% if page and page.meta.summary %}
    <meta name="description" content="{{ page.meta.summary }}">
{% endif %}

{% if page %}
    <!-- Google Yapısal Veri İşaretleme Yardımcısı tarafından oluşturulan JSON-LD işaretlemesi. -->
    <script type="application/ld+json">
        {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "author" : {
            "@type" : "Person",
            "name" : "{{ config.site_author }}"
        },
        "name" : "{{ page.title }}"
        {% if page.meta.date %}
        ,
        "datePublished" : "{{ page.meta.date }}"
        {% endif %}
        {% if page.meta.revision_date %}
        ,
        "dateModified" : "{{ page.meta.revision_date}}"
        {% endif %}
        }
    </script>
{% endif %}
{% endblock %}
