<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/apple-touch-icon.png?v=20210512">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png?v=20210512">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png?v=20210512">
<link rel="manifest" href="/assets/images/site.webmanifest?v=20210512">
<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg?v=20210512" color="#5bbad5">
<link rel="shortcut icon" href="/assets/images/favicon.ico?v=20210512">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="msapplication-config" content="/assets/images/browserconfig.xml?v=20210512">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
